<html>

<head>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="css/style.css" />
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use to get weather!</p>
        <form>
            <input type="text" placeholder="Loaction">
            <button>Search</button>
        </form>
        <p id="pOne"></p>
        <p id="pTwo"></p>
    </div>

    <script src="./js/app.js"></script>

    {{>footer}}    

</body>

</html>